*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
ba4b2d34779970c3176338aa487673f28403715c
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

Django-test